{% extends 'general/layout.html' %}
{% load crispy_forms_tags %} {% load i18n %}
{% block head_title %}Login{% endblock %}
{% block content %}

<!-- Login form -->
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body  d-flex flex-column ali align-items-center">
        
        <h1 class="card-title text-center">C.E. Ōkami</h1>
        <hr>
        
        <form action="{% url 'login' %}" method="post" autocomplete="new-password">
          {% csrf_token %} 
          <div id="django-form" class="d-flex flex-column ali align-items-center">
           {{ form| crispy }}

          </div>  
          <button class="btn btn-light d-flex justify-content-center">{% trans "Iniciar sesion" %}</button>
        </form>
      </div>
    </div>  
  </div>
</div>

{% endblock %}

<script>
  $('django-form').on('hidden.bs.modal', function () {
    $(this).find('form').trigger('reset'); // Restablece los campos
  });

</script>