{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Recetario-Registro{% endblock %}
{% block content %}

<!-- Register form -->
  <div class="row">
  <div class="col-12 col-md-6 offset-md-4">
    <div class="card">
      <div class="card-body  d-flex flex-column ali align-items-center">
        <h1 class="card-title">C.E. Ōkami</h1>
        
        <form action="" method="post">
        {% csrf_token %} 
          <div class="d-flex flex-column ali align-items-center">
            
            {{ form| crispy }}
          
          </div>
          <button class="btn btn-light">{% trans "Registrarse" %}</button>
        </form>
        </div>
    </div>
  </div> 
</div>     



{% endblock %}