{% extends 'general/layout.html' %}
{% load static %}
{% block head_title %}Movimientos{% endblock %}
{% block content %}


<!-- Listado completo de productos -->
<section class="mb-5" >

  <h1 class="display-6 text-center mb-5">Registro de movimientos</h1>
  {% include "_includes/_csv.html" %}
  <hr>

  <!-- Tabla salidas -->
  <div class="table-responsive">
    
        
    <details class="mb-5">
      <summary class="text-center">Registro de salidas</summary>
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Referencia</th>
              <th scope="col">Producto</th>
              <th scope="col">Tipo Movimiento</th>
              <th scope="col">Cantidad</th>
              <th scope="col">F-Movimiento</th>
              <th scope="col">Notas</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for movement in  movements %}
              {% if movement.movement_type == "OUT" %}       
                  
                {% include  '_includes/_movements.html' %}

              {% endif %}

            {% endfor %}
          </tbody>
      
        </table>
    </details>
  </div> 
  
    <!-- Tabla entradas -->
  <div class="table-responsive">  
    <details class="mt-5">
        <summary class="text-center">Registro de entradas</summary>
       
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Referencia</th>
              <th scope="col">Producto</th>
              <th scope="col">Tipo Movimiento</th>
              <th scope="col">Cantidad</th>
              <th scope="col">F-Movimiento</th>
              <th scope="col">Notas</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          <tbody class="text-center">
          {% for movement in  movements %}
            {% if movement.movement_type == "IN" %}       
              
              {% include  '_includes/_movements.html' %}

            {% endif %}

          {% endfor %}
          </tbody>
        
        </table>
      
    </details>
  </div>
</section>
<hr>

{% endblock %}