{% extends 'general/layout.html' %}

{% block head_title %}MOvimientos{% endblock %}
{% block content %}


<!-- Listado completo de productos -->
<hr>
<div class="container-fluid d-flex flex-column align-items-center mt-4">

  <h1 class="display-6">Registro de movimientos</h1>
  
  <div class="d-flex flex-wrap mt-5">
    
    <section >
     
      <details class="mb-5">
        <summary class="text-center">Registro de salidas</summary>
        <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Referencia</th>
            <th scope="col">Producto</th>
            <th scope="col">Tipo Movimiento</th>
            <th scope="col">Cantidad</th>
            <th scope="col">F-Movimiento</th>
            <th scope="col">Notas</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for movement in  movements %}
            {% if movement.movement_type == "OUT" %}       
                
              {% include  '_includes/_movements.html' %}

            {% endif %}

          {% endfor %}
        </tbody>
      
        </table>
      </details>
    
    <hr>
      
      <details class="mt-5">
        <summary class="text-center">Registro de entradas</summary>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Referencia</th>
              <th scope="col">Producto</th>
              <th scope="col">Tipo Movimiento</th>
              <th scope="col">Cantidad</th>
              <th scope="col">F-Movimiento</th>
              <th scope="col">Notas</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombre</th>
              

            </tr>
          </thead>
          <tbody class="text-center">
          {% for movement in  movements %}
            {% if movement.movement_type == "IN" %}       
              
              {% include  '_includes/_movements.html' %}

            {% endif %}

          {% endfor %}
          </tbody>
        
        </table>
      </details>
      <a class="nav-link d-flex flex-column align-items-center  mt-5 text-center" href="{% url 'movements_create' %}"><i class="bi bi-box-arrow-in-right"></i>Agregar movimiento</a>
  </div>
    </section>
     
  
</div>
<hr>
{% endblock %}