{% extends 'general/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Actualizar producto{% endblock %}
{% block content %}

<!-- Formulario para crear una nueva receta -->
  <div class="row">
      
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card" >
          <div class="card-body" id="box">
            <h1 class="card-title">Actualizar</h1>
            <hr>
           
            <form action="" method="post", enctype="multipart/form-data">
              {% csrf_token %} 
              
                  {{ form.product_name | as_crispy_field }}
                  {{ form.category | as_crispy_field }}
                  {{ form.supplier | as_crispy_field }}
                  {{ form.stock | as_crispy_field }}

              <button class="btn btn-sm btn-outline-success">Actualizar Producto</button>
            </form>
          </div>
      </div>  
    </div>
  </div>
{% endblock %}