{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Nuevo producto{% endblock %}
{% block content %}

<!-- Formulario para agregar un nuevo producto-->
  <div class="row">
      
    <div class="col-12 col-md-6 offset-md-3 mb-5">
      <div class="card" >
          <div class="card-body" id="box2">
            <h1 class="card-title">Agregar</h1>
            <hr>
           
            <form action="" method="post", enctype="multipart/form-data">
              {% csrf_token %} 
              
                  {{ form.product_name | as_crispy_field }}
                  {{ form.category | as_crispy_field }}
                  {{ form.supplier | as_crispy_field }}
                  {{ form.stock | as_crispy_field }}

              <button class="btn btn-sm btn-outline-success">Añadir Producto</button>
               <hr>
              
            </form>
          </div>
      </div>  
    </div>
  </div>
{% endblock %}