{% extends 'general/layout.html' %} {% load crispy_forms_tags %} {% load i18n %}
{% block head_title %}Productos buscador{% endblock %}
{% block content %}


<!-- Buscador -->
<h1>{% trans "Buscador" %}</h1>

{% if products %}
    <div class="d-flex flex-wrap">
        {% for product in products %}
            <div>
                {% include '_includes/_products.html' %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="p-5 text-center fs-5 fw-bold text-danger">No se encontraron productos que coincidan con tu búsqueda!!</p>
{% endif %}

{% endblock %}
