{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Movimientos delete{% endblock %}
{% block content %}

<!-- Formulario para eliminar un producto -->
<h1 class="display-6">Eliminar Movimiento</h1>
<div class="d-flex flex-column  gap-3">
  
  <div class="d-inline-flex flex-column gap-2">
    <p class="text-danger">¿Estas seguro de eliminar este movimiento: 

      <tr class="text-center">
        <th scope="row">1</th>
        <td>{{ movement.product_id }}</td>
        <td>{{ movement.product }}</td>
        <td>{{ movement.movement_type }}</td>
        <td>{{ movement.quantity }}</td>
        <td>{{ movement.timestamp |date:"d-m-Y" }}</td>
        <td>{{ movement.notes }}</td>
        <td>{{ movement.user_id }}</td>
        <td>{{ movement.user }}</td>
      </tr>

    </p>
    
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'products_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>

{% endblock %}