{% extends 'general/layout.html' %}
{% load i18n %}
{% block head_title %}Home{% endblock %}
{% block content %}


<div class="container">
<h2 class="display-6">Dashboard</h2>
<hr>
   <div class="row d-flex flex-wrap justify-content-between mt-4 ">


    <div id="box" class="w-25 p-5 d-flex flex-column align-items-center  m-2">
        <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'product_create' %}"><i class="bi bi-box-arrow-in-right"></i> Agregar producto</a>
    </div>

    <div id="box" class="w-25 p-5 d-flex flex-column align-items-center  m-2">
        <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'movements_create' %}"><i class="bi bi-trash"></i>Agregar movimientos</a>
    </div>

    <div id="box" class="w-25 p-5 d-flex flex-column align-items-center  m-2">
        <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'movements_list' %}"><i class="bi bi-trash"></i> Movimientos</a>
    </div>

    <div id="box" class="w-25 p-5 d-flex flex-column  align-items-center  m-2">
        <a class="nav-link d-flex flex-column align-items-center  m-2" href=""><i class="bi bi-box-arrow-in-left"></i> Salidas</a>
    </div>

    <div id="box" class="w-25 p-5 d-flex flex-column align-items-center  m-2">
        <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'products_list' %}"><i class="bi bi-boxes"></i> Stock</a>
    </div>

    <div id="box" class="w-25 p-5 d-flex flex-column  align-items-center  m-2">
        <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'products_list' %}"><i class="bi bi-graph-up-arrow"></i> Graficos</a>
    </div>






   </div> 
    
    
     
</div>
    
{% endblock %}