{% load static %}

    <div class=" d-flex align-items-center justify-content-center  gap-2 flex-wrap">
                        
      <a id="footer_links" class="nav-link  d-flex flex-column align-items-center m-2 p-3 fs-6 text-info " href="{% url 'product_create' %}"><i class="bi bi-box-arrow-in-right fs-6"></i>Agregar producto</a>

      <a id="footer_links" class="nav-link d-flex flex-column align-items-center  m-2 p-3 fs-6 text-info " href="{% url 'movements_create' %}"><i id="icons" class="bi bi-box-arrow-in-right"></i>Agregar movimiento</a>

      <a id="footer_links" class="nav-link d-flex flex-column align-items-center  m-2 p-3 fs-6 text-info " href="{% url 'products_list' %}"><i id="icons" class="bi bi-boxes"></i>Stock</a>

      <a id="footer_links" class="nav-link d-flex flex-column align-items-center  m-2 p-3 fs-6 text-info " href="{% url 'movements_list' %}"> <i id="icons" class="bi bi-arrow-down-up"></i>Movimientos</a>

      <a id="footer_links" class="nav-link d-flex flex-column align-items-center  m-2 p-3 fs-6 text-info " href="{% url 'graficos' %}"><i id="icons" class="bi bi-graph-up-arrow"></i>Graficos</a>
    </div>
                   
