{% load static %}

<div class=" d-flex align-items-center justify-content-center  gap-5 flex-wrap">
                    
  <a title="Agregar producto" class="nav-link  d-flex flex-column align-items-center fs-6 text-info rounded" href="{% url 'product_create' %}"><i class="bi bi-box-arrow-in-right bg-secondary rounded-circle p-3 fs-3"></i></a>

  <a title="Agregar movimientos"  class="nav-link d-flex flex-column align-items-center fs-6 text-info rounded" href="{% url 'movements_create' %}"><i id="icons" class="bi bi-box-arrow-in-right bg-secondary rounded-circle p-3 fs-3"></i></a>

  <a title="Stock" class="nav-link d-flex flex-column align-items-center fs-6 text-info rounded" href="{% url 'products_list' %}"><i id="icons" class="bi bi-boxes bg-secondary rounded-circle p-3 fs-3"></i></a>

  <a title="Movimientos" class="nav-link d-flex flex-column align-items-center fs-6 text-info rounded" href="{% url 'movements_list' %}"><i id="icons" class="bi bi-arrow-down-up bg-secondary rounded-circle p-3 fs-3"></i></a>

  <a title="Graficos"  class="nav-link d-flex flex-column align-items-center fs-6 text-info rounded" href="{% url 'graficos' %}"><i id="icons" class="bi bi-graph-up-arrow bg-secondary rounded-circle p-3 fs-3"></i></a>

  <a title="Alertas"  class="nav-link d-flex flex-column align-items-center fs-6 text-info rounded" href="{% url 'alerts' %}"><i id="icons" class="bi bi-exclamation-octagon bg-secondary rounded-circle p-3 fs-3"></i></a>
</div>
                
