{% load static %}

   <div  class="d-flex justify-content-between p-5 mt-2"> 
    <a class="nav-link d-flex flex-column align-items-center  " href="{% url 'product_create' %}"><i class="bi bi-box-arrow-in-right"></i> Agregar producto</a>
    <a class="nav-link d-flex flex-column align-items-center  m-2 text-center" href="{% url 'movements_create' %}"><i class="bi bi-box-arrow-in-right"></i>Agregar movimiento</a>
    <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'products_list' %}"><i class="bi bi-boxes"></i> Stock</a>
    <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'movements_list' %}"> <i class="bi bi-arrow-down-up"></i>Movimientos</a>
    <a class="nav-link d-flex flex-column align-items-center  m-2" href=""><i class="bi bi-box-arrow-in-left"></i> Salidas</a>
    <a class="nav-link d-flex flex-column align-items-center  m-2" href="{% url 'products_list' %}"><i class="bi bi-graph-up-arrow"></i> Graficos</a>
  </div>
