<!-- Template for displaying a single product card -->



<div  class="container mt-5 ">
    <div class="card" style="width: 18rem;">
        <img class="fixed-image-wrapper" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ product.product_name}}</h5>
    
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cantidad disponible: {{ product.stock}}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-light">Editar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    
</div>
 
