<!-- Template añadir producto -->

 
<tr class="text-center">
    <th scope="row">1</th>
      <td>{{ product.id }}</td>
      <td>{{ product.product_name }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.supplier }}</td>
      <td>{{ product.timestamp|date:"d-m-Y"}}</td>
      <td><a class="btn btn-sm btn-outline-danger" href="{% url 'product_delete' product.pk %}"><i class="bi bi-trash"></i></a></td>
      <td><a class="btn btn-sm btn-outline-success" href="{% url 'product_update' product.pk %}"><i class="bi bi-pen"></i></a></td>
</tr>