{% load static %}



        <!-- Search form -->
<div class="">
    <h5 class="text-center text-light">Control de stock</h5>
    <form class="d-flex" role="search" action="{% url "search" %}" method="get">
        <input id="django-form-input"  name="search"  class="form-control me-2" type="search"  aria-label="Search"/>
        <button class="btn text-light"  type="submit">Filtrar</button>
    </form>
</div>
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
    <span class="navbar-toggler-icon"></span>
</button>
