



.form-control{
    background-color: #e8e8eb;
    

}
#django-form-input {
    background-color: #e8e8eb; 
   
    
}


.span{
    color: #223b6e ;
}


.navbar{
     box-shadow: 15px 0px 125px 35px #223b6e inset;
}
#box, #box2{
    background-color: #ffffff;
    min-width: 20rem;
    box-shadow: -5px -0px 50px 25px #223b6e inset;
    color:  #223b6e;
    
}
#box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  
}

#footer_links{
    width: 12rem;
    box-shadow: -5px -0px 25px 15px #223b6e inset;
}


#footer_links:hover{
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  
}
.grafics{
    width: 500px;
    max-height: 100px;
}